.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}
#nav ul{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#logo {grid-column: 1/4;}
#nav{ grid-column: 1; }