*{
    background-color: lightgray;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

#logo {grid-column: 2 / 3;}

#nav {
    grid-column: 2 / 8;
    padding: 5%;
}

#nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 1rem 0; 
}

#box1{
    background-color: red;
}

#banner{
    grid-column: 2/8;
    width: 100%;
}