*{background-color: lightgray;}

.container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

#logo{
    font-family: "Damion", cursive;
    width: 262px;
    font-weight: bold;
    font-style: normal;

    display: flex;
    align-items: baseline;
    grid-column: 2/3;  
}

.robot{
    color: rgb(197, 17, 11);
    font-size: 32px;
}

.juice {
    font-size: 11px;
    color: black;
    margin-left: 6px;
}

#headertext{
    color: rgb(51, 51, 51); 
    grid-column: 3/4;
}

.nav{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

#box1{grid-column: 2;}
#box2{grid-column: 3;}
#box3{grid-column: 4;}
#box4{grid-column: 5;}
#box5{grid-column: 6;}
#box6{grid-column: 7;}